<meta charset="utf-8" />


    <div class="ui dropdown link item">Kunden<i class="dropdown icon"></i>
    	<div class="menu">
      		<a class="item" href="/kunden/overview">Übersicht</a>
      		<a class="item" href="/kunden/create">anlegen</a>
     	</div>
    </div>
    
    <div class="ui dropdown  item"> Lager<i class="dropdown icon"></i>
    	<div class="menu">
      		<a class="item" href="/lager/overview">Produktübersicht</a>
			<a class="item" href="/lager/create/Lautsprecher">Lautsprecher anlegen</a>
    		<a class="item" href="/lager/create/Faden">Faden anlegen</a>
    		<a class="item" href="/lager/Lieferant/overview">Lieferantenübersicht</a>
    		<a class="item" href="/lager/create/Lieferant">Lieferant anlegen</a>
    		<a class="item" href="/lager/inventur/overview">Übersicht Inventuren</a>
     	</div>
    </div>
    
    <div class="ui dropdown link item">Einkauf<i class="dropdown icon"></i>
    	<div class="menu">
      		<a class="item" href="/einkauf/Bestellung/overview">Bestellübersicht</a>
      		<a class="item" href="/einkauf/Bestellanforderung/overview">Übersicht Bestellanforderungen</a>
      		<a class="item" href="/einkauf/create/Bestellung">Bestellung anlegen</a>
      		<a class="item" href="/einkauf/create/Wareneingang">Wareneingang buchen</a>
     	</div>
    </div>
    
    <a class="item" href="/Mitteilungsboard">Mitteilungsboard<div id="messages_number" class="ui green label"></div></a>