body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 10px;
  padding: 10px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

h4, h5{
margin: calc(0rem - 0.165em ) 0em 1rem;
}

.ui.checkbox{
margin: 0.3em;
}
.ui.floated.segment{
margin: 0.3em;
padding: 0.5em;
}

i.circular.icon{
border-style: solid;
padding: 0.25em 0.3em !important;
}

input[type="checkbox"], input[type="radio"]{
vertical-align: middle;
}

.messages{
	color: red;
}