<meta charset="utf-8" />
<div class="ui button"><a href="/einkauf/Bestellung/{{bestellung.bestell_id}}/Details">Details</a></div>
<div class="ui button"><a href="/einkauf/Bestellung/{{bestellung.bestell_id}}/close">Bestellung abschließen</a></div><br>
<p><div class="ui button"><a href="/einkauf/Bestellung/{{bestellung.bestell_id}}/download">Bestellung herunterladen</a></div>
<div class="ui button"><a href="/einkauf/Bestellung/{{bestellung.bestell_id}}/upload">Dokument hochladen</a></div>
<div class="ui button"><a href="/einkauf/Bestellung/{{bestellung.bestell_id}}/bezahlen">Rechnung bezahlen</a></div>

